.iconLink {

    display: flex;
    justify-content: center;

}

.iconOne, .iconTwo, .iconThree {

    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;

}

.iconOne {

    background-image: url(../images/github.png);

}

.iconTwo {

    background-image: url(../images/linkedin.png);

}

.iconThree {

    background-image: url(../images/faccebook.png);

}