.portOne, .portTwo, .portThree, .portFour, .portFive {

    background-size: cover;
    border-radius: 6px;
    height: 150px;

}

.portOne {

    background-image: url(../images/salmon.jpg);
    height: 170px;
}
.portTwo {

    background-image: url(../images/FotD.png);

}

.portThree {

    background-image: url(../images/WaistM.png);

}

.portFour {
   
    background-image: url(../images/PWAtext.png);

}

.portFive {
    background-image: url(../images/walleye.jpg);

}